.todo-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.todo-row-content.checked {
  text-decoration: line-through;
}

.todo-row-content {
  width: 40em;
  margin-right: 5em;
}